


<%= form_with model: @tour, local: true, data: { controller: "places", action: "google-maps-callback@windows->places.initializeMap"} do |form| %>
    <div class="tour"> 
        <div class="tour-name">

            <% if @tour.errors.any? %>
                <% @tour.errors.full_messages_for(:name).each do |message| %>
                    <p class="tour-forrm-err">
                        <%= message %>
                    </p>      
                <% end %>
            <% end %>

            <p><%= form.label :name %></p>
            <%= form.text_field :name, placeholder: "Name for your Tour" %>
        </div>

        <div class="tour-price"> 

            <% if @tour.errors.any? %>
                <% @tour.errors.full_messages_for(:price).each do |message| %>
                    <p class="tour-forrm-err">
                        <%= message %>
                    </p>               
                <% end %>
            <% end %>

            <p><%= form.label :price %></p>
            <%= form.text_field :price, placeholder: "Cost of your Tour" %>
        </div>

        <div class="tour-duration">
            <p><%= form.label :duration %></p>
            <%= form.select :duration, [1, 2, 3, 4], class: "duration" %>
        </div>

        <div class="tour-accommodation">
           <p> <%= form.label :accommodation %></p>
            <%= form.radio_button :accommodation, true  %>
        </div>

        <div class="tour-meals">
            <p><%= form.label :meals %></p>
            <%= form.radio_button :meals, true %>
        </div>

        <div class="tour-entry">
            <p><%= form.label :entry_tickets %></p>
            <%= form.radio_button :entry_tickets, true  %>
        </div>

        <div class="tour-pickup">
            <p><%= form.label :pickup %></p>
            <%= form.radio_button :pick_up, true %>
        </div>

        <div class="tour-transport">
            <p><%= form.label :transport %></p>
            <%= form.radio_button :transport, true %>
        </div>

        <div class="tour-description">

            <% if @tour.errors.any? %>
                <% @tour.errors.full_messages_for(:description).each do |message| %>
                    <p class="tour-forrm-err">
                        <%= message %>
                    </p>               
                <% end %>
            <% end %>

            <p><%= form.label :description %></p>
            <%= form.text_area :description %>
        </div>

        <div class="tour-">
            <p><%= form.label :images %></p>
            <%= form.file_field :images, multiple: true %>
        </div>

        <div class="tour-submit">
            <%= form.submit "Post Tour", class: "tour-btn" %>
        </div>
    </div>

<% end %>