<div class="site-form-wrapper">
    <%= form_with model: [@tour, @tour.sites.build] do |form| %>
        <p><%= form.label :name %></p>
        <%= form.text_field :name %>

        <p><%= form.label :description %></p>
        <%= form.text_area :description %>

        <div>
            <%= form.submit "add Site", class: "tour-btn" %>
        </div>
    <% end %>
</div>
