   



      
<div class="hero-container">
    <div class="hero-background"></div>
    <div class="hero-text">
        <h1>Discover Ghana  with the locals</h1>
        <br>
        <br>
        <br>
        <button class="hero-text-btn" >view tours</button>
    </div> 
</div>



<div id="find-tours" class="find-tour">
    <%= image_tag "colors.png", alt: "colors" %>
    <h1>Find your next adventure </h1>
    <br>
    <p>Our tours are designed for small groups of 4-5 people, so that we can keep them flexible and tailor them for you along the way. </p>
    <p>From the pick-up at your accomodation we will take care of every aspect of the tour, so you don’t need to carry a cent with you.</p>
</div> 




<div class="tour-container">
    <% @tours.each do |tour| %>

        <div class="tour-card">

            <div>
                <%= image_tag "rock.jpeg" %>
            </div>

            <div class="tour-card-details">

                <div class="tour-card-item" id="tour-name">
                    <h2 class="tour-name"><%= tour.name.capitalize %></h2>
                    <h6>Tafi monkey sanctury - Shai hills -  Wli water falls - Afajato </h6>
                </div>
                
                <div class="tour-card-item">
                    <h5><%= tour.price %></h5>
                </div> 

                <div class="tour-card-item">
                    <h5><%= tour.accommodation? ? "Accommodation" : "No acccommodation" %></h5>
                </div>
    
                <div class="tour-card-item">
                    <h5><%= tour.transport? ? "Transport" : "No transport" %></h5>   
                </div>
    
                <div class="tour-card-item">
                    <h5> <%= tour.entry_tickets %> <%= tour.entry_tickets? ? "Fees" : "No fees" %></h5>
                </div>
    
                <div class="tour-card-item">
                    <h5> <%= tour.duration > 1 ? "#{tour.duration}  Days trip" : "Day trip" %> </h5>
                </div>
    
                <div class="tour-card-item">
                    <h5><%= tour.meals? ? "Meals" : "No meals" %></h5>
                </div>
    
                <div class="tour-card-item">
                    <h5><%= tour.pick_up? ? "Pickup" : "No pickup" %></h5>
                </div>
               
            </div>

        </div>

    <% end %>

</div>



<div id="find-team" class="find-team">
    <%= image_tag "colors.png", alt: "colors" %>
    <h1>Know our team </h1>
    <br>
    <p>Our tours are designed for small groups of 4-5 people, so that we can keep them flexible and tailor them for you along the way. </p>
    <p>From the pick-up at your accomodation we will take care of every aspect of the tour, so you don’t need to carry a cent with you.</p>
</div> 







    