<div class="hero-container">
    <div class="hero-background"></div>
    <div class="hero-text">
        <h1 class="discover-text">Discover Ghana with the locals</h1> 
        <button class="hero-text-btn"><a href="#find-tours">view tours</a></button>
        <button id="discover-ghana-btn" class="hero-text-btn"><%= link_to "discover Ghana", discover_path %></button>
    </div> 
</div>

<div class="tour-offer">
    <div class="sustainable-icons">
        <%= image_tag("loco2.png") %>
        <h5>Made by locals</h5>
    </div>

    <div class="sustainable-icons">
        <%= image_tag("leaf.png") %>
        <h5>Eco friendly</h5>
    </div>

    <div class="sustainable-icons">
        <%= image_tag("fares.png") %>
        <h5>Transparent fares</h5>
    </div>

    <div class="sustainable-icons">
        <%= image_tag("loco.png") %>
        <h5>Tailored itineraries</h5>
    </div>
</div>

<section style="width: 100%; background: white">
    <div id="find-tours" class="find-tour">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure">Find your next adventure </p>
        <p class="adventure-text">Our tours are designed for small groups of 4-5 people, so that we can keep them flexible and tailor them for you along the way. </p>
        <p class="adventure-text"> From the pick-up at your accomodation we will take care of every aspect of the tour, so you don’t need to carry a cent with you.</p>
    </div> 
</section>

<div class="tour-container">
    <% @tours.each do |tour| %>
        <div class="tour-card">
            
            <%= image_tag(tour.image) %>

            <div class="" id="tour-name">
                <p class="tour-name"><%= tour.name.capitalize %></p>
            </div>

            <div class="index-sites">
                <% tour.sites.each do |site| %>
                        <%= site.name %> 
                <% end %>
            </div>

            <div id="read-more">
                <%= link_to "read more ", tour_path(tour), class: "read-more" %>
            </div>
                            
            <div class="tour-card-item", id="tour-price">
                <p><%= number_to_currency(tour.price, unit: "€" ) %></p>    
            </div> 

        </div>
    <% end %>
</div>

<section style="width: 100%; background: white">

    <div id="find-team" class="find-team">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure">Meet our team </p>
        <p class="adventure-text">Our tours are designed for small groups of 4-5 people, so that we can keep them flexible and tailor them for you along the way. </p>
        <p class="adventure-text">From the pick-up at your accomodation we will take care of every aspect of the tour, so you don’t need to carry a cent with you.</p>
    </div> 

</section>

<section class="team-back" >
    <div class="team-wrapper">

        <div class="team">
            <%= image_tag"janet" %>
            <p class="team-name">Janet</p>
            <div class="team-info">
                <p>Our tours are designed for small groups of 4-5 people, so that we can keep them flexible and tailor them for you along the way.</p>
                <p>From the pick-up at your accomodation we will take care of every aspect of the tour, so you don’t need to carry a cent with you.</p>
            </div>
        </div>

        <div class="team">
            <%= image_tag"edem.jpeg" %>
            <p class="team-name">Edem</p>
            <div class="team-info">
                <p>Our tours are designed for small groups of 4-5 people, so that we can keep them flexible and tailor them for you along the way.</p>
                <p>From the pick-up at your accomodation we will take care of every aspect of the tour, so you don’t need to carry a cent with you.</p>
            </div>
        </div>
        
        <div class="team">
            <%= image_tag"amount.jpeg" %>
            <p class="team-name">Amount<p>
            <div class="team-info">
                <p>Our tours are designed for small groups of 4-5 people, so that we can keep them flexible and tailor them for you along the way.</p>
                <p>From the pick-up at your accomodation we will take care of every aspect of the tour, so you don’t need to carry a cent with you.</p>
            </div>
        </div>

    </div>
</section>

<section style="width: 100%; background: white">
    <div id="find-tours" class="find-tour">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure">Discover Ghana</p>
      </div> 
</section>

<div class="tour-discover-wrapper">
    <div class="tour-discover">
        <div class="discover-image">
            <%= image_tag "chilling" %>
            <%= image_tag "veggies" %>
            <%= image_tag "ele" %>
            <%= image_tag "beads" %>
        </div>
        
        <div class="discover-info">
            <h1 class="todo-heading">Our favourite things to do in Ghana</h1> 
            <%= image_tag "green_triangle", class: "todo-triangle" %>
        </div>
    </div>
</div>
