   
    <div class="tour-card-wrapper">

        <% @tours.each do |tour| %>

            <div class="tour-card">
                
                <div>
                    <h2><%= tour.name.capitalize %></h2>
                </div>

                <div>
                    <h5><%= tour.price %></h5>
                </div>

                <div>
                    <h5><%= tour.transport %></h5>   
                </div>

                <div>
                    <h5><%= tour.entry_tickets %></h5>
                </div>

                <div>

                    <% if tour.duration > 1 %>
                        <h5><%= tour.duration %> days trip</h5>
                    <% else %>
                        <h5><%= tour.duration %> day trip</h5>
                    <% end %>
                    
                </div>

                <div>
                    <h5><%= tour.meals %></h5>
                </div>

                <div>
                    <h4><%= tour.pick_up %></h5>
                </div>

                <div>
                    <h5><%= tour.accommodation %></h5>
                </div>
                
            </div>

        <% end %>

    </div>