<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= form_with model: @tour do  |form| %>

    <div class="tour"> 

        <div class="tour-name">

            <% if @tour.errors.any? %>
                <% @tour.errors.full_messages_for(:name).each do |message| %>
                    <p class="tour-forrm-err">
                        <%= message %>
                    </p>      
                <% end %>
            <% end %>

            <h4><%= form.label :name %></h4>
            <%= form.text_field :name, placeholder: "Name for your Tour" %>

        </div>

        <div class="tour-price"> 

            <% if @tour.errors.any? %>
                <% @tour.errors.full_messages_for(:price).each do |message| %>
                    <p class="tour-forrm-err">
                        <%= message %>
                    </p>               
                <% end %>
             <% end %>

            <h4><%= form.label :price %></h4>
            <%= form.text_field :price, placeholder: "Cost of your Tour" %>

        </div>

        <div class="tour-duration">
            <h4><%= form.label :duration %></h4>
            <%= form.select :duration, [1, 2, 3, 4], class: "duration" %>
        </div>

        <div class="tour-accommodation">
           <h4> <%= form.label :accommodation %></h4>
            <%= form.radio_button :accommodation, true  %>
        </div>

        <div class="tour-meals">
            <h4><%= form.label :meals %></h4>
            <%= form.radio_button :meals, true %>
        </div>

        <div class="tour-entry">
            <h4><%= form.label :entry_tickets %></h4>
            <%= form.radio_button :entry_ticketsickets, true  %>
        </div>

        <div class="tour-pickup">
            <h4><%= form.label :pickup %></h4>
            <%= form.radio_button :pick_up, true %>
        </div>

        <div class="tour-transport">
            <h4><%= form.label :transport %></h4>
            <%= form.radio_button :transport, true %>
        </div>

        <div class="tour-submit">
            <%= form.submit "Post Tour", class: "tour-btn" %>
        </div>

    </div>

<% end %>