
<div class="tour-show-photo">

    <%= image_tag "rock.jpeg" %>

    
    <div id="show-tour-description" class="show.tour-description">
        <p class="tour-region"> <%= @tour.name.capitalize %> Region</p>
        <p><%= @tour.description %></p>
    </div>



    <div class="show-tour-details">

        <div class="show-price">
            <i class="fas fa-money-check-alt"></i>            <%= number_to_currency(@tour.price, unit: "€" )  %>
        </div>

        <div class="show-price">
            <i class="fas fa-cloud-sun" ></i>

             <%= @tour.duration > 1 ? "#{tour.duration}  days trip" : " 1 day trip" %>
        </div>
        <div class="show-price">
            <i class="fas fa-hamburger"></i>
            <%= @tour.meals? ? "Meals" : "No meals available" %>
        </div>
        <div class="show-price">
            <i class="fas fa-ticket-alt"></i>
            <%= @tour.entry_tickets? ? "Tickets" : "No Tickets"  %>
        </div>
       
        <div class="show-accommodation">
            <i class="fas fa-home"></i><%= @tour.accommodation? ? "Accommodation" : "No accommodation provided" %>
        </div>

        <div class="show-pickup">
            <i class="fas fa-truck-pickup"></i>
            <%= @tour.pick_up? ? "Pickup" : "No pickup available"%>
        </div>

        <div class="show-transport">
            <i class="fas fa-bus"></i>    <%= @tour.transport? ? "Transport" : "No transport available" %> 
        </div>
        

    </div>

</div>








<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
    <%= link_to "edit" %>
    <%= link_to "delete" %>
    <%= link_to "back" %>
</div>