<div class="tour-show-wrapper">
    <div class="tour-show">

        <% if @tour.image.persisted? %>
            <div class="tour-pic">
                <%= image_tag(@tour.image) %>
            </div>
        <% end %>
        
        <div id="show-tour-description" class="show-tour-description">
            <p class="tour-region"><%= @tour.name.capitalize %> Experience</p>

            <div class="description-text">
                <%= @tour.description %>
            </div>
    
            <% if user_signed_in? && @tour.user_id == current_user.id %> 
                <div class="tour-show-btn-wrapper">
                    <%= link_to "edit", edit_tour_path(@tour), class: "edit-btn" %>
                    <%= link_to "delete", tour_path(@tour), method: :delete, data: { confirm: "are you sure?"}, class:"delete-btn" %>
                </div>  
            <% end%>
        </div>
        

        <div class="show-tour-details">
            <div class="show-tour-detail">
               <p style="color: #F47559; font-weight: 500; font-size: 2.2em;"><%= number_to_currency(@tour.price, unit: "€" )  %></p>  
               <p style="margin-left: 5px; font-size: 0.8em;">per person</p>
            </div>
    
            <div class="show-tour-detail">
               <p>
                   <%= @tour.duration > 1 ? "#{@tour.duration}  days trip" : " 1 day trip" %>
               </p>
            </div>
            
            <div class="show-tour-detail">
                <% if  @tour.meals? %>
                    <%= image_tag("soup") %>
                    <p>Meal</p>   
               <% end %>
            </div>
            
            <div class="show-tour-detail">
                <% if  @tour.entry_tickets? %>
                    <%= image_tag("ticket") %>
                    <p>Tickets</p>   
               <% end %>
            </div>
            
            <div class="show-tour-detail">
                <% if  @tour.accommodation? %>
                    <%= image_tag("bed") %>
                    <p>Accommodation</p>   
                <% end %>
            </div>
            
            <div class="show-tour-detail">
                <% if  @tour.pick_up? %>
                    <%= image_tag("pickup") %>
                    <p>Pickup</p>   
                <% end %>
            </div>
            
            <div class="show-tour-detail">
                <% if  @tour.transport? %>
                    <%= image_tag("bus") %>
                    <p>Transport</p>   
                <% end %>
            </div>  
        </div>   
    </div>    


    
    <%#= render "sites" %>


        <%#= render "tours/site_form" %>


</div>


<section style="width: 100%; background: white; margin-top: 30px">
    <div id="find-tours" class="find-tour">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure"> The <%= @tour.name %> itinerary </p> 
    </div> 
</section>


<%= render "itinerary" %>






