
<section style="margin-top: 90px">
    <div id="find-team" class="find">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure">Our favourite things to do in Ghana</p>
    </div> 
</section>

<div class="shai">

    <div class="things-todo-wrapper">
        <div id="first-todo-pic"class="todo-pic">
            <%= image_tag "boti-forest.png", alt: "boti-forest", class: "todo-image"%>
        </div>
    
        <div id="first-todo-text" class="todo-info-wrapper"> 
            <div class="todo-info-text">
                <h1 class="todo-heading">Take a stroll <br> in the  rain forest</h1>
                <p>Just outside Accra, Ghana is home to vast protected rain forestes and natural reserves. Walking through the jungle you can discover endless hidden gems, from uniquely shaped rocks to fresh streams, and finally take a shower under a waterfall.</p>    
            </div>
            <%= image_tag"red_triangle", class: "todo-triangle" %> 
        </div>

       
        <div id="second-todo-pic" class="todo-pic">
            <%= image_tag "oasis-beach", alt: "robi-sea", class: "todo-image" %>
        </div>
    
        <div id="second-todo-info-wrapper"class="todo-info-wrapper">
            <%= image_tag"right_yellow_triangle", class: "todo-triangle" %> 
            <div class="todo-info-text">
                <h1 class="todo-heading">Watch the ocean <br> waves crash</h1>
                <p>If you want to have a break from the hot sun there is nothing more refreshing than sitting by the ocean and watch the waves crash. If you are lucky you might catch little turtles ashore making their journey back to the sea. </p>       
            </div>  
        </div>
    
        <div id="third-todo-pic" class="todo-pic">
            <%= image_tag "sobolodrink", alt: "sobolo-drink", class: "todo-image" %>
        </div>
    
        <div class="todo-info-wrapper">   
            <div class="todo-info-text">
                <h1 class="todo-heading">Lift the spirit with <br>local drinks</h1>
                <p>Ghanaians have a strong drinking culture, that’s why we have many original recipees to suit every taste, like Sobolo, made from hibiscus, Palm wine, made from palm tree, and Akpeteshie, made from sugar cane. </p>
            </div>  
            <%= image_tag"green_triangle.png", class: "todo-triangle" %> 
        </div>
    
        <div id="fourth-todo-pic" class="todo-pic">
            <%= image_tag "robi-fufu", alt: "robi-fufu", class: "todo-image"%>
        </div>
      
        <div class="todo-info-wrapper">
            <%= image_tag"right_yellow_triangle", class: "todo-triangle" %>   
            <div class="todo-info-text">
                <h1 class="todo-heading">Get your fingers dirty</h1>
                <p>Most Ghanaian dishes are best eaten with hands (even rice!). You can’t miss Fufu, a hot soup with your choice of meat or fish with a soft dough ball, Jollof rice with fried chicken and fresh Tilapia fish.</p>
            </div>  
        </div>
    
        <div id="third-todo-pic" class="todo-pic">
            <%= image_tag "makola", alt: "makola", class: "todo-image"%>
        </div>
      
        <div class="todo-info-wrapper">
            <div class="todo-info-text">
                <h1 class="todo-heading">Get the best deals <br> the local market</h1>
                <p>If you want to buy the freshest ingredients, hand-crafted souvenirs or natural skin products, like black soap and shea butter, head to Makola Market in Accra. We will help you getting the best deals and teach you some bargaining tricks.</p>
            </div>  
            <%= image_tag"red_triangle", class: "todo-triangle" %> 
        </div>

        <div id="second-todo-pic" class="todo-pic">
            <%= image_tag "beads", alt: "beads", class: "todo-image" %>
        </div>
    
        <div id="second-todo-info-wrapper"class="todo-info-wrapper">
            <%= image_tag"right_yellow_triangle", class: "todo-triangle" %> 
            <div class="todo-info-text">
                <h1 class="todo-heading">Mix and match <br>traditional beads</h1>
                <p>Ghanaian women love making original necklaces and earrings with colourful beads and stones. On the street you can buy long strings of beads that can be adjusted to fit your waist and feet.</p>       
            </div>  
        </div>

        <div id="first-todo-pic"class="todo-pic">
            <%= image_tag "chilling.png", alt: "Outdoor parties", class: "todo-image"%>
        </div>
    
        <div id="first-todo-text" class="todo-info-wrapper"> 
            <div class="todo-info-text">
                <h1 class="todo-heading">Dance the night away</h1>
                <p>Music is an essential part of every-day life in Ghana and everyone, from children to elderly people, enjoy and are good at dancing. At night you will be able to choose from rooftop bars, live concerts and open-air bars.</p>    
            </div>
            <%= image_tag"green_triangle.png", class: "todo-triangle" %> 
        </div>
    </div>

</div>
