
<section style="width: 100%; background: white">
    <div id="find-team" class="find-team">
        <%= image_tag "colors.png", alt: "colors" %>
        <p class="adventure">Our favourite things to do in Ghana</p>
    </div> 
</section>

<div class="things-todo-wrapper">
 
    <%= image_tag "chilling.png", alt: "Outdoor parties", class: "todo-image"%>
    
    <div class="todo-text1">     
        <h1 class="number" id="orange-number">1</h1>
        <div class="todo-info">
            <h1 class="todo-heading">Dance the night away</h1>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
        </div>
        <%= image_tag"red_triangle.png", class: "todo-triangle" %>     
    </div>
    
    
    
    <div class="todo-text1">
        <h1 class="number" id="yellow-number">2</h1>
        <div class="todo-info">
            <h1 class="todo-heading">Treat the skin with natural shea butter and black soap</h1>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
        </div>   
        <%= image_tag"yellow_triangle.png", class: "todo-triangle" %> 
    </div>
    
    <%= image_tag "tafimonkies.jpeg", alt: "colors", class: "todo-image"%>
    <%= image_tag "robilake.jpeg", alt: "colors", class: "todo-image"%>
    
    <div class="todo-text1">
        <h1 class="number" id="green-number">3</h1>
        <div class="todo-info">
        <h1 class="todo-heading">Lift the spirit with 
                <br>local drinks</h1>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
        </div>
        <%= image_tag"green_triangle.png", class: "todo-triangle" %>
    </div>
    
    <div class="todo-text1">     
        <h1 class="number" id="">4</h1>    
        <div class="todo-info">
            <h1 class="todo-heading ">Nibble on some snacks on the way</h1>
            <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
        </div>    
        <%= image_tag"green_triangle.png", class: "todo-triangle" %>
    </div>
    
    <%= image_tag "labadi.jpeg", alt: "colors", class: "todo-image"%>

</div>