
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="site-edit-form-wrapper">
    <%= form_with model: [@tour, @site] do |form| %>
        
    
        <p><%= form.label :name %></p>
        <%= form.text_field :name %>
    
        <p><%= form.label :description %></p>
        <%= form.text_area :description %>
    
        <div>
            <%= form.submit "Add site", class: "add-site-btn" %>
        </div>
    
    <% end %>

</div>



<%= link_to "Back", tour_path(@tour) %>