<nav class="nav-wrapper">
  <div class="nav-items">

    <div class="logo-burger-wrapper">
      <div id="burger-wrapper" class="burger-wrapper" data-controller="side-nav" data-action="click->side-nav#openNav">
        <div class="burger"></div>
        <div class="burger"></div>
        <div class="burger"></div>
      </div>
      <%= link_to image_tag("sobolo.png", class: "logo", alt: "logo"), root_path %>
    </div>

    <div class="nav-links">
      <%= link_to "Home", root_path %>
      <%= link_to "All Tours", tours_path %>
      <%= link_to "Discover Ghana", discover_path %>
        
      <% if user_signed_in? %>
        <%= link_to "New tour", new_tour_path %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sign-out" %>
      <% else %>
        <%= link_to "sign up", new_user_registration_path, class: "sign-up" %>
        <%= link_to "login", new_user_session_path, class:"login" %>
      <% end %>
    </div>
  </div>
</nav>

