<nav class="wrap">
    <div class="nav-links">

      <%= link_to image_tag("sobolo.png", class: "logo", alt: "logo"), root_path %>

      <div class="nav-list">
        <ul>
          <li class="nav-list-item"><%= link_to "Home", root_path %></li>
          <li class="nav-list-item">Contact us</li>
          <li class="nav-list-item">About us</li>
          <li class="nav-list-item"><%= link_to "New tour", new_tour_path %></li>
          <li class="nav-list-item"><%= link_to "Tours", tours_path %></li>
          <li class="nav-list-item"><%= link_to "discover Ghana", discover_path %></li>
        </ul>
      </div>

    </div>
  </nav>
