<div id="side-nav" class="side-nav-wrapper">

    <div  id="close" class="close" data-controller="side-nav" data-action="click->side-nav#closeNav">
      x
    </div>

    <div id="side-links" class="side-links">

      <div class="side-link">
        <%= link_to "Home", root_path %>
      </div>

      <div class="side-link">
        <%= link_to "Tours", tours_path %>
      </div>

      <div class="side-link">
        <%= link_to "Discover Ghana", discover_path %>
      </div>

      <div class="side-link">
        <%= link_to "Signup", new_user_registration_path %>
      </div>

      <div class="side-link">
        <%= link_to "Login" %>
      </div>

    </div>

  </div>
